
<div class="container mt-5">
    <h2>GESTION DE:</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <button type="button" class="btn btn-info" routerLink="/encuestas">Encuestas</button>
      </li>
      <li class="list-group-item">
        <button type="button" class="btn btn-success" routerLink="/preguntas">Preguntas</button>
      </li>
      <li class="list-group-item">
        <button type= "button" class="btn btn-warning "routerLink="/tipo-pregunta">Tipo Pregunta</button>
      </li>
    </ul>
  </div>
  